{% extends 'baseExc.html' %}

{% block title %}Bank{%endblock%}

{% block main %}

<div class="page-wrapper">
	<div class="user">
		<p>{{ username }} | {{ role }}</p>
	</div>
	<div class=cust-mang>
		<p>Customer Management</p>
		<span><button class="btnpress"><a href="{{url_for('customerid')}}">Create Customer</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('customersearch')}}">Update Customer</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('customersearch')}}">Delete Customer</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('customersearch')}}">Search Customer</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('cstatus')}}">Customer Status</a></button></span>
	</div>
	<div class=cust-mang>
		<p>Account Management</p>
		<span><button class="btnpress"><a href="{{url_for('bank_acc')}}">Create Account</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('search_acc')}}">Delete Account</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('search_acc')}}">Search Account</a></button></span>
		<span><button class="btnpress"><a href="{{url_for('acc_status')}}">Account Status</a></button></span>
	</div>
</div>
{% endblock %}