{% extends 'baseExc.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper">  

	<center><h1>SEARCH ACCOUNT</h1></center>



	<center>
	<form class="pure-form" action="{{ url_for('search_acc')}}" method="POST">

		<label>Customer Id: </label>
		<input type="text" name="cus_id" pattern="[0-9]{9}"><br><br>

		or <br><br>

		<label>Account Id: </label>
		<input type="text" name="acc_id" pattern="[0-9]{9}" ><br><br>
		<br><br>
	    <button class="pure-button pure-button-primary" type="submit" name="submit">VIEW</button>
	</form>
	</center>

</div>
{% endblock %}