{% extends 'baseCash.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper">  
    <form class="pure-form pure-form-aligned" method="POST" action="{{url_for('statement2')}}">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Account ID</label>
                <input type="text" name="acc_id" id="aligned-name" placeholder="Account ID"  required/>
            </div>
            <div class="pure-control-group">
                <label for="aligned-name">Start Date</label>
                <input type="Date" name="sdate" id="aligned-name" placeholder="Start Date" />
            </div>
            <div class="pure-control-group">
                <label for="aligned-name">End Date</label>
                <input type="Date" name="edate" id="aligned-name" placeholder="End Date" />
            </div>
             <div class="pure-controls">   
                <button type="submit" class="pure-button pure-button-primary">Submit</button>   
            </div>
            
        </fieldset>
    </form>

</div>
{% endblock %}