
<head>
	<title>Statement</title>
	 <style>
        table
        {
            width: 300px;
            font: 17px Calibri;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
    </style>
     <script>
     	function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Status</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
     </script>

<!-- Excel  -->

     <script type="text/javascript">
    function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
    </script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


</head>
<body>


    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home')}}">Bank</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('search_acc')}}">Account Details</a></li>
            <li><a href="{{url_for('statement11')}}">Account Statement</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}


    <div class="page-wrapper">


	<div id='tab'>
		<h1 align="center">Transaction Statement</h1>
	<table id="tblData">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

    	{%for i in range (0, N)%} 			
        <tr>
            <td>{{transfer[i].tran_id}}</td>
            <td>{{transfer[i].desc}}</td>
            <td>{{transfer[i].date}}</td>
            <td>{{transfer[i].tran_amt}}</td>
        </tr>
        {% endfor%}        

    </tbody>
</table>
</div>
<!--- {%if trans%}
<form class="pure-form pure-form-aligned" method="GET" action="/csv/{{trans}}">
<button type="submit" class="pure-button pure-button-primary" >CSV</button>
{%endif%} -->
<button onclick="createPDF();">Download PDF</button>
<button onclick="exportTableToExcel('tblData')">Download Excel</button>
</div>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="sec-head">About Us</h1>
                <p>Bank was founded in 14th June 2016 with the objective of providing with detail services based on Banking operations. It offers a plethora of products and service, to cater to customer by providing certain animus services with an easy volving offersand ways to do the required job.</p>
            </div>
            <div class="footer-section services">
                <h1 class="sec-head">Services</h1>
                <p>Retail and Consumer Banking</p>
                <p>Personal Internet Banking</p>
                <p>Corporate Internet Banking</p>
                <p>Debit and Credit Cards</p>
            </div>
            <div class="footer-section contact">
                <h1 class="sec-head">Contact Us</h1>
                <p>Email: customer.service@bank.com</p>
                <p>Contact No: 022-42406778, 022-54567890</p>
                <p>Address: Corporate Office, Madame Cama Road,</p>
                <p>Nariman Point, Mumbai, Maharashtra 400021</p>
                <div class="socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            &copy; Bank
        </div>
    </div>
</body>