{% extends 'baseCash.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper"> 

  <center>
  <h1> Withdraw Ammount</h1>
      
	<form class="pure-form pure-form-aligned" method="POST" onsubmit="myFunction3()" >
	
        <label for="aligned-name">Customer ID: </label>
        <label for="aligned-name" > {{ items.customer_id }} </label>
   
        <br><br>

        <label for="aligned-name">Account ID: </label>
        <label for="aligned-name" > {{ items.acc_id }} </label>

     	  <br><br>

      	<label for="aligned-name">Account type: </label> 
      	<label for="aligned-name"> {{ items.acc_type }} </label>

    	  <br><br>

      	<label for="aligned-name" id="initial"> Balance: </label> 
        <label for="aligned-name" id="ibal"> {{ items.balance }} </label>

    	  <br><br>

        <label for="aligned-name" id="latest"></label> 
        <label for="aligned-name" id="lbal"></label>

        <label for="aligned-name">Withdraw Amount:</label> 
        <input type="text" name="wit_amt" id="wit_amt" required pattern="[0-9]+">

        <br><br>

        <input type="hidden" name="acc_id" value="{{ items.acc_id }}">


      <input type="submit" value="Submit" style=" background-color: #0000FF;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{url_for('withdraw')}}">

      </form>

      <form method="GET">
      <input type="submit" value="Cancel" style=" background-color: #0000FF;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{ url_for('search_acc')}}">
	    </form>
		
</div>
{% endblock %}