.page-wrapper .user{
 	font-size: 23px;
 	font-weight: 800;
 	border-bottom: 2px solid #f1f1f1;
 	width: 40%;
 	font-family: 'Raleway', sans-serif;
 }

 .cust-mang button{
	border:none;
	padding: 2.5%;
	width: 18%;
	margin-right: 1.67%;
	transition: all .3s ease-in-out;
	margin-top: 5%;
}

.cust-mang button:hover{
	transform: scale(1.1);
}

.cust-mang a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}