{% extends 'baseCash.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper">  

  <center>
  <h1> Account Details</h1>
      	<form class="pure-form pure-form-aligned" method="GET" >

              <label for="aligned-name"> Customer ID:  </label>
              {% if items %}
                  <label  for="aligned-name"> {{ items[0].customer_id }} </label>
              {%endif%}
         
              <br><br>  
         
              <label for="aligned-name">Account ID: </label>

           	<select id="id" name="acc_id" onchange="myFunction()">
           		{% for i in items %}
                  <option value="{{ i.acc_type }},{{ i.balance }},{{ i.customer_id }}">{{ i.acc_id }}</option>
              	{% endfor %}
  				
  			   </select>

  			<br><br>	
  	
          	<label for="aligned-name">Account type: </label> 
          	<label for="aligned-name" id="type"> {{ items[0].acc_type }} </label>

          	<br><br>

          	<label for="aligned-name">Account Balance: </label> 
          	<label for="aligned-name" id="bal"> {{ items[0].balance }} </label>

          	<br><br>

              <br><br>
              
              <input type="submit" value="Deposit" style=" background-color: #0000FF;border: none;color: white;padding: 16px
              32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{url_for('deposit')}}">

              <input type="submit" value="Withdraw" style=" background-color: #0000FF;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{url_for('withdraw')}}">

              <input type="submit" value="Transfer" style=" background-color: #0000FF;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{url_for('transfer')}}">

              <input type="submit" value="Statement" style=" background-color: #0000FF;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer" formaction="{{url_for('statement11')}}">
  			
  		</form>
  		<form method="GET">
  			<button type="submit" class="pure-button pure-button-primary" formaction="{{ url_for('search_acc')}}">CANCEL</button>
  		</form>

  </center>

</div>
{% endblock %}
