{% extends 'baseExc.html' %}

{% block title %}Bank Customer Management{%endblock%}

{% block main %}
<div class="page-wrapper"> 
	<form class="pure-form pure-form-aligned" method="GET" action="/cstatus">
       <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Customer SSN ID</th>
                <th>Customer ID</th>
                <th>Status</th>
                <th>Message</th>
                <th>Last Updated</th>
                <th>Operations</th>
                <th>View Profile</th>
            </tr>
        </thead>
        <tbody>
        	{% for i in check%}
            <tr>
                <td>{{i.customerssnid}}</td>
                <td>{{i.customer_id}}</td>
                <td>{{i.status}}</td>
                <td>{{i.message}}</td>
                <td>{{i.date}}</td>
                <td><a href="">Refresh</a></td>
                <td><a href="/viewpage/{{i.customerssnid}}" >View Profile</a></td>
            </tr>
           {% endfor %}
        </tbody>
       </table>
    </form>	

</div>
{% endblock %}