{% extends 'baseCash.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper">  

    <form class="pure-form pure-form-aligned" method="POST" action="{{url_for('statement11')}}">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Account ID</label>
                <input type="text" name="acc_id" id="aligned-name" placeholder="Account ID" required />
            </div>
            <div class="pure-controls">
                <label for="aligned-cb" class="pure-checkbox">
                    <input type="radio" checked="checked" id="aligned-cb"  />Last Number of Transaction</label>
             </div>
             <div class="pure-controls" onClick="window.location = '{{url_for('statement2')}}';">        
                    <input type="radio" id="aligned-cb" />Start-End Date </label>
                    <br>
                    
            </div>
             <div class="pure-controls">
              <label  for="aligned-name">Number of Transaction</label>
            <select id="stacked-state" name="nooft">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
            </select>   
            </div>
            <div class="pure-controls">   
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
          
            </div>
        </fieldset>
    </form>

</div>
{% endblock %}