{% extends 'baseCash.html' %}

{% block title %}Bank Account Management{%endblock%}

{% block main %}
<div class="page-wrapper">  

	<form class="pure-form pure-form-aligned" method="POST" action="{{url_for('transfer')}}">
        <fieldset>
            <div class="pure-control-group">
                <label for="aligned-name">Customer ID</label>
                <input type="text" name='customerid' id="aligned-name" placeholder="Customer ID" />
                
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Source Account Type</label>
                <select name="sourceaccount"><option value="savings">Saving</option>
                	<option value='current'>Current</option></select>
            </div>
            <div class="pure-control-group">
                <label for="aligned-password">Target Account Type</label>
                <select name="targetaccount"><option value="savings">Saving</option>
                	<option value='current'>Current</option></select>
            </div>
            <div class="pure-control-group">
                <label for="aligned-name">Transfer Amount</label>
                <input type="text" name='transferamount' id="aligned-name" placeholder="Transfer Amount" />
                
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

</div>
{% endblock %}

